.header {
    text-align: center;
}

.tableHead {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #7A0BC0;
    border: 1px solid #FA58B6;
}

.header-name {
    background-color: #7A0BC0;
}

.tableRow {
    margin-top: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #FA58B6;
    &-name {
        background-color: #FA58B6;
    }
}

.btn {
    background-color: #FA58B6;
    border: none;
    &-container {
        display: flex;
        justify-content: flex-end;
    }
}